BODY {
    background-image: url("To_Do_List.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: fixed; */
    margin-left: 20px;
    width:100vw;
    height:100vh;
}

.container {
    padding: 25%;
}

.table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 500px;
}

.inputs {
    /* transform: translate(10vh, 0vh); */
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-grow: 1;
    /* padding:5px; */
}

.textbox {
    width: 390px;
    border: none;
    margin-bottom: 5px;
    padding: 4px;
    font-style: italic;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textbox:hover{
    border:1.5px solid;
    transition: 0.01s ease;
}
.textbox:valid:hover{
    background-color: rgb(233, 241, 247);
}

#inputcolor1 {
    color: rgb(255, 6, 247);
}

#inputcolor2 {
    color: rgb(51, 0, 255);
}

#inputcolor3 {
    color: rgb(255, 0, 0);
}

#inputcolor4 {
    color: rgb(191, 0, 255);

}

#inputcolor5 {
    color: rgb(51, 0, 255);
}

#inputcolor6 {
    color: rgb(255, 0, 0);
}

.inputs:has(.checkboxs:checked) {
    text-decoration: line-through;
    order: 1;
}
